<div *ngIf="categoria;else gridImagen">
  <div
    class="grid same-height grid-cols-1 place-content-center	sm:grid-cols-2 lg:grid-cols-3 px-12 lg:px-4 gap-5 pt-6   ">
    <div class="flex flex-1 " *ngFor="let item of items; let i = index">
      <div class="grow relative shadow-xl rounded-3xl flex flex-col items-start justify-center bg-white ">
        <mat-card-content class="p-5 w-full">
          <div class="flex justify-between ">
            <mat-card-title class="font-bold text-lg block">{{item.nombre}} </mat-card-title>
          </div>

          <mat-card-actions *ngIf="editable" class="flex justify-around mt-4 gap-5">
            <button mat-stroked-button (click)="eliminarCategoria(item, i)"
              class="py-4  text-sm rounded-lg min-w-[120px]" color="primary">Eliminar</button>
            <button mat-stroked-button (click)="editarCategoria(item)" class="py-4  text-sm rounded-lg"
              color="primary">Editar</button>
          </mat-card-actions>
        </mat-card-content>

      </div>
    </div>
  </div>
</div>
<ng-template #gridImagen>
  <div
    class="pt-6 grid same-height grid-cols-1 place-content-center	sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 px-12 lg:px-4 gap-4 lg:gap-x-8 lg:gap-y-16 gap-y-8   ">
    <div class=" flex flex-1 " *ngFor="let item of items">
      <div class=" grow relative shadow-xl rounded-3xl flex flex-col items-start justify-center bg-white "
        [ngClass]="{'bg-gray-200': !item.estado, 'z-depth':!editable && !restaurante,'active': !editable && !restaurante && itemSeleccionado && itemSeleccionado.id === item.id}">
        <mat-icon *ngIf="producto && !busqueda && !isFavorito(item) && usuario.tipo == 'cliente'"
          (click)="addToFavorites(item)"
          class="cursor-pointer absolute top-2 right-2 z-10 text-white hover:text-orange-500">favorite</mat-icon>
        <mat-icon *ngIf="producto && !busqueda && isFavorito(item) && usuario.tipo == 'cliente'"
          (click)="removeFromFavorites(item)"
          class="cursor-pointer absolute top-2 right-2 z-10 text-orange-500">favorite</mat-icon>

        <mat-card-header class="w-full h-full">
          <img *ngIf="producto || editable" mat-card-image class="rounded-t-3xl w-full h-full   object-cover "
            src="{{item.imagen}}" [ngClass]="{'filter grayscale': !item.estado}" />
          <img *ngIf="restaurante" mat-card-image class="object-cover rounded-t-3xl h-full  w-full 	"
            src="{{item.logo}}" />
        </mat-card-header>

        <mat-card-content class="p-5 w-full" (click)="!editable && !restaurante && seleccionar(item)"
          [ngClass]="{' cursor-pointer':producto}">
          <div class="flex justify-between ">
            <mat-card-title class="font-bold text-lg block">{{item.nombre}} </mat-card-title>
            <mat-card-title *ngIf="producto || editable" class="font-bold text-lg block">${{item.precio.toFixed(2)}}
            </mat-card-title>
          </div>
          <p *ngIf="producto || editable" class="text-sm text-gray-400">{{item.descripcion}}</p>

          <mat-card-actions *ngIf="restaurante">
            <a mat-raised-button (click)="navigate(item.id)" class="py-4 px-8 text-sm rounded-full text-white mt-2"
              color="primary">Ver
              menú</a>
          </mat-card-actions>
          <mat-card-actions *ngIf="editable" class="flex justify-around mt-4">
            <button mat-stroked-button (click)="cambiarEstado(item)" class="py-4  text-sm rounded-lg min-w-[120px]"
              color="primary" [ngClass]="{'text-gray-600':!item.estado}">{{item.estado ? 'Desactivar' :
              'Activar'}}</button>
            <button mat-stroked-button (click)="editarProducto(item)" class="py-4  text-sm rounded-lg" color="primary"
              [ngClass]="{'text-gray-600':!item.estado}">Editar</button>
          </mat-card-actions>
        </mat-card-content>

      </div>
    </div>
  </div>
</ng-template>