<ngb-carousel class="max-h-[250px] mr-6 w-full">
  <ng-template ngbSlide *ngFor="let item of promociones">
    <div class="picsum-img-wrapper">
      <img src="{{item.imagen}}" class="h-[250px] object-cover brightness-50 w-full rounded-md"
        alt="Random first slide" />
    </div>
    <div class="carousel-caption flex flex-col">
      <h2 class="text-xl font-bold text-start text-orange-600">PROMOCIÓN</h2>
      <h3 class="text-5xl md:text-6xl font-bold text-start">{{item.nombre}} ${{item.precio}}</h3>

      <p class="text-lg text-start">{{item.descripcion}}</p>





      <button (click)="openModal(item)" mat-raised-button color="primary"
        class="text-md font-semibold text-white self-start max-w-fit my-2 px-6">Seleccionar</button>

    </div>
  </ng-template>
</ngb-carousel>