<div class=" flex flex-col gap-3 p-6 items-center  shadow-lg bg-[#0D2C54] w-full h-fit">
  <h1 class="text-xl font-medium mb-3 self-start text-white">Detalles de pago</h1>

  <div class="w-full" *ngIf="!usuario">
    <label for="email" class="text-[0.8rem] font-extralight text-white">Correo electrónico</label>
    <input id="email" [formControl]="emailFormControl" type="email" placeholder="Direccion de correo electrónico"
      required class=" text-sm text-white bg-[#375B81] border-none focus:ring-blue-500 p-4 rounded-xl w-full" matInput>

  </div>


  <div id="payment" class="w-full">


  </div>
  <div class="border-[#2E86AB] w-full border-b"></div>
  <button (click)="confirmPayment()" *ngIf="loaded" mat-raised-button
    class="text-white w-full rounded-xl py-6 bg-[#2E86AB] ">

    {{boton_nombre}}
  </button>
</div>

<app-mensaje *ngIf="mensaje" (visible)="mensaje = null" tipo="{{mensaje.tipo}}"
  contenido="{{mensaje.contenido}}"></app-mensaje>